/* your styles will go here!! */
<<<<<<< HEAD
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
=======
>>>>>>> 45bfa150cd14bb2613f3ff407f23fac937891eb1
.headerbanner {
    background-color: #FFEDD8;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    margin: 0, 0 auto;
<<<<<<< HEAD
=======
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
>>>>>>> 45bfa150cd14bb2613f3ff407f23fac937891eb1
  }